



<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ICTAK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <div class="navbar-nav ml-auto">
        <a class="nav-link nav-link active" routerLink="/home">Welcome</a>
        <a class="nav-link nav-link active" *ngIf="authService.loggedIn()" routerLink="/dashboard">Home</a>
        <a class="nav-link nav-link active" *ngIf="authService.loggedIn()" routerLink="/book-your-hall">New Booking</a>
        <a class="nav-link nav-link active" *ngIf="authService.loggedIn()" routerLink="/view-calendar">Booking Calendar</a>
        <a class="nav-link nav-link active" *ngIf="authService.loggedIn()" routerLink="/edit-calendar">Cancel Booking</a>
        <a class="nav-link nav-link active" *ngIf="!authService.loggedIn()" routerLink="/register">SignUp</a>
        <a class="nav-link nav-link active" *ngIf="!authService.loggedIn()" routerLink="/login">User Login</a>
        <a class="nav-link nav-link active" *ngIf="!authService.loggedIn()" routerLink="/adm-login">Admin Login</a>
        <a class="nav-link nav-link active" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" routerLink="/home">Log Out</a>


        
      </div>
    </div>
  </div>
</nav>


