

<div class="container">
    <div class="row pt-5">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Sign Up</h3>
            </div>
            <br>
            <div class="card-body">
                <form class="form" #Form="ngForm"  >
                    <div class="form-group">
                        <label for="">Username</label>
                        <input [(ngModel)]="registerUserData.username" name="username" minlength="3"  type="text" class="form-control rounded-0" required placeholder="Enter Username" #username="ngModel">
                        <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                        <div *ngIf="username.errors && username.errors['required']">Username is required.</div>
                        <div *ngIf="username.errors && username.errors['minlength']">Username is minimum {{ username.errors && username.errors['minlength'].requiredLength }} character.</div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="registerUserData.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" class="form-control rounded-0" required placeholder="Enter E-mail" #email="ngModel">
                        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors && email.errors['required']">Email is required.</div>
                        <div *ngIf="email.errors && email.errors['pattern']">Enter valid E-mail</div>
                    </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input [(ngModel)]="registerUserData.password" name="password" minlength="5" type="password" class="form-control rounded-0" required placeholder="Enter Password" #password="ngModel">
                        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                        <div *ngIf="password.errors && password.errors['required']">Password is required.</div>
                        <div *ngIf="password.errors && password.errors['minlength']">Password is minimum {{ password.errors && password.errors['minlength'].requiredLength }} character.</div>
                        </div>
                    </div>


                    <br>
                    <div class="form-group">
                        <label for="">Mobile Number</label>
                        <input [(ngModel)]="registerUserData.mobile" name="mobile" minlength="9" type="text" class="form-control rounded-0" required placeholder="Enter Mobile Number" #mobile="ngModel">
                        <div class="alert alert-danger" *ngIf="mobile.touched && !mobile.valid">
                        <div *ngIf="mobile.errors && mobile.errors['required']">Mobile is required.</div>
                        <div *ngIf="mobile.errors && mobile.errors['minlength']">Mobile is minimum {{ mobile.errors && mobile.errors['minlength'].requiredLength }} character.</div>
                    </div>
                    </div>
                    <br>
                    <button  (click)="registerUser()" type="button" [disabled]="Form.form.invalid" class="btn btn-light float-right">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

